This is the system {{ ansible_facts['hostname'] }}.
Today's date is: {{ ansible_facts['date_time']['date'] }}.
Only use this system with my permission otherwise!
you can ask {{ system_owner }} for access.
